@charset "UTF-8";
/* 共有 */
body{
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	line-height: 160%;
	color: #ff50a0;
	background: url(../images/topimage/back.png) repeat 40% 40%;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

img{
max-width: 100%;
height: auto;
vertical-align: bottom;
}

dt,dd{
margin: 0;
}

dd a:hover{
color: #ff50a0;
}

h1,h2,h3{
 margin: 0;
}

a{
color: #555;
text-decoration: none;
}

a:hover{
color: #000;
}

.inner{
  width: 980px;
  text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/*===== header =====*/

#gheader{
width:100%;
height:100px;
background-color:#ff50a0;
box-sizing: border-box;
position:fixed;
top:0;
z-index: 100;
}

#logo{
position:absolute;
left: 220px;
margin:0;
padding: 0;
top:0;
}

#gnavi{
margin-left: 500px;
}

#gnavi li{
display: inline;

}
#gnavi li+li{
margin-left: 50px;
}

#gnavi a{
color: white;
}

#gnavi a:hover{
color: pink;
text-decoration: underline;
}

.title{
  line-height: 120%;
	width: 350px;
	text-align: center;
	margin: 0px auto;
	background-color: #ff50a0;
	color: white;
	font-size:20px;
	border-radius: 20px;

}

/*===== topimage =====*/

#caption{
  height: 330px;
}

#topimage{
  text-align: center;
  margin: 110px auto;
  width: 980px;
}

/*===== newstitle =====*/

#newstitle{
	margin: 20px auto;
	display: flex;
	justify-content: space-around;
	position: relative;

}

/*===== news =====*/

#main{
    /*background-color: green;*/
  margin: 20px auto;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-around;
}

#main1{
  /*background-color: yellow;*/
  height: 340px;
  width: 47%;
	background-color: rgba( 255, 255, 255, 0.5 );
	border: 1px solid #ff50a5;
}

#main1 dd{
	font-size: 18px;
}

#main2{
  /*background-color: yellow;*/
  height: 340px;
  width: 47%;
	border: 1px solid #ff50a5;
background-color: rgba( 255, 255, 255, 0.9 );
}

#center_dare{
  text-align: left;
  /*background-color: yellow;*/
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.circleimg{
	border-radius: 100px;
}

#center_intro{
  padding-left: 15px;
  text-align: center;
	font-size: 19px;
}

#name{
  text-align: left;
  padding-left: 40px;
}

#ichiran1{
	background-color: #ff50a5;
	width: 120px;
	margin: 20px auto;
	border-radius: 50px;
}

#ichiran1 a{
 color: white;
 font-size: 15px;
}

#ichiran1 a:hover{
 color: pink;
}

/* footer */

#gfooter{
  margin-bottom:20px;
  margin: 50px auto;
  padding-top: 50px;
  color:#ff50a0;
  font-size: 30px;
  text-align: center;
	display: block;
}


/* introduce page */
.introduce_insta{
		margin-bottom: 50px;
}

.introduce_insta a:hover{
		opacity: 0.5;
}

.itemlist a{
	cursor: default;
}

.underline{
	text-decoration: underline;
	color: pink;
}

/* qna */

#qna{
	margin-top: 50px;
	margin-bottom: 30px;
}

#circle{
	margin: 70px 50px;
}

.answer{
	background-color: black;
}

.itemlist{
overflow: hidden;
margin: 20px;
}

.itemlist li{
width: 30%;
background-color: rgba( 255, 255, 255, 0.8 );
float: left;
}

.itemlist li+li{
margin-left: 5%;
}

.item strong{
background-color: #ccc;
display: block;
text-align: center;
}

.iteminfo p{
margin: 0;
}

#menberintro{
		margin-top: 90px;
		margin-bottom: 30px;
}

.memberlist{
	display: flex;
	justify-content: space-around;
	align-content: stretch;
	margin-top: 20px;
}

.square{
	width: 400px;
	height: 200px;
	background-color: pink;
	position: relative;
}

.memberpic{
	position: absolute;
	left: 0;
	border-radius: 100px;

	display: block;
}

.membername{
	float: right;
	color: white;
	background-color: #ff50a5;
	border-radius: 20px;

}

.membercom{
	position: absolute;
	font-size: 17px;
	line-height: 20px;
	right: 0px;
	padding-top:50px;
	text-align: right;
}


/* ranking */

.ranking_title{
  line-height: 120%;
	width: 350px;
	text-align: center;
	margin: 0px auto;
	background-color: #ff50a0;
	color: white;
	font-size:20px;
	border-radius: 20px;
	margin-top: 100px;
}

#ranking{
    /*background-color: green;*/
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}

.ranking{
  /*background-color: yellow;*/
  position: relative;
  width: 245px;
  height: 220px;
  border: 1px solid #ff50a0;
  box-sizing: border-box;
  overflow: hidden;
}

.iteminfo{
margin: 0;
position: absolute;
top: 100%;
background-color:#ff50a0;
width: 100%;
height: 100%;
text-align: center;
color: #fff;
/* 変化させる対象（プロパティ） */
transition-property: all;
/* 変化させる所要時間（sは秒） */
transition-duration: .9s;
/* 変化させる動き（イージング） */
transition-timing-function:cubic-bezier(.86,.2,.81,1.69);
/* 変化開始までの時間（ディレイ） */
transition-delay: .0s;
}
.iteminfo .name{
font-size: 10px;
}

.iteminfo .desc{
font-size: 15px;
}

.ranking a:hover .iteminfo{
top: 0;
}

/* gallery*/


.imglist li{
float: left;
overflow: hidden;
width: 194px;
height: 200px;
border: 1px solid #ff50a0;
}

.imglist1{
  margin-bottom: 30px;
  margin-top: 10px;
}

.imglist1 img,.imglist2 img{
  width: 245px;
  height: 220px;
}

.imglist1 img:hover,#circle a:hover{
  opacity: 0.5;
    filter: alpha(opacity=50);
}

.imglist2 img:hover{
  opacity: 0.5;
    filter: alpha(opacity=50);
}




/* album */

#album{
	display: flex;
	justify-content: center;
	overflow: hidden;
	margin-bottom: 40px;
}

#albumpic{
	text-align: left;
}

#albuminfo{
  width: 400px;
	height: 266px;
	border: 3px solid #ff50a5;
	background-color: rgba( 255, 255, 255, 0.8 );

}

#tracklist{
	margin-top: 20px;
	position: relative;
	margin-bottom: 40px;
	background-color: rgba( 255, 255, 255, 0.7 );

}

.tracklist{
	border-bottom: 1px solid pink;
}

#tracklist li{
	margin-bottom: 10px;
}

.kashi{
	position: absolute;
	right:200px;
	font-size: 15px;
	color: gray;
}
.border_album{
	border: 1px solid #ff50a0;
	padding-top: 10px;
	background-color:rgba( 255, 255, 255, 0.7 )
}

.backcolor_album{
	opacity: 0.8;

}

/* movie */
#pv{
	margin-top: 50px;
}

#pvinfo{
 width: 700px;
 text-align: center;
 margin: auto;
 font-size: 19px;
 color: black;
 margin-bottom: 40px;
 background-color: rgba( 255, 255, 255, 0.7 );
}

#version2{
	margin-top:50px;
}

.toumei{
	background-color: rgba( 255, 255, 255, 0.7);
}


.kousei{
	color: black;
	width: 700px;
	margin: auto;
		background-color: rgba( 255, 255, 255, 0.7 );
}

.kochira{
	background-color: black;
	height: 40px;
	width: 210px;
	margin: auto;
	margin-bottom: 20px;
	border-radius: 50px;
	text-align: center;
	}

.kochira:hover{
	background-color: #ff50a0;
}
.kochira a{
	color: #ff50a0;
}
.kochira a:hover{
	color:white;
}

.dougainfo{
	display: flex;
 	justify-content: center;
 	overflow: hidden;
	margin-bottom: 50px;
}
.dougaflex{
	padding-top: 25px;
	padding-left: 3%;

}

.dougalist{
	display: flex;
 	justify-content: space-between;
 	overflow: hidden;
	margin-bottom: 30px;
	margin-top: 30px;

}
.list{
	margin-bottom: 15px;
}

.list a+a{
	padding-left: 14px;
	text-align: center;
}

.listone{
		border: 2px solid #ff50a5;
		height: 260px;
}

.dougamargin{
	margin-top: 90px;
	margin-bottom: 30px;
}

.dougaline{
	border: 1px solid #ff50a5;
	text-align: center;
	margin: 0 auto;
}

/* buy */
#buy_sec{
  height: 1200px;
}

#buy{
  text-align: center;
  margin: 110px auto;
  width: 980px;
	margin-top: 100px;
}
.buy{
overflow: hidden;

}

.buy li{
width: 33%;
background-color: rgba( 255, 255, 255, 0.8 );
float: left;
}

.buy li{
	margin-right: 1px;
}
.buy h2{
	font-size: 20px;
}

.buy a:hover{
	opacity: 0.5;
}
