@charset "UTF-8";
/* CSS Document */

/* サイト内の共通設定 */
body{
font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
font-size: 14px;
line-height: 160%;
color: #333;
}

ul{
list-style-type: none;
margin: 0;
padding: 0;
}
img{
max-width: 100%;
height: auto;
vertical-align: bottom;
}

a{
color: #555;
text-decoration: none;
}
a:hover{
color: #D3D3D3;
text-decoration: underline;
}

/* ツールバー */
#toolbar{
height: 20px;
border-bottom: 1px solid #eee;
background-color: black;
}


/* header */
#gheader{
position: relative;
width: 100%;
height: 100px;
background-color: rgba(255,255,255,.9);
z-index: 10;
}

#logo{
position: absolute;
top: 33px;
left: 50px;
width: 250px;
margin: -10px;
}

#gnavi{
margin-left: 400px;
padding-top: 40px;
}
#gnavi li{
display: inline;
}
#gnavi li+li{
margin-left: 70px;
}
#gnavi a{
  font-size: 20px;
}


/*　topimage上の文字*/
#catch{
position: absolute;
left: 35%;
top: 200px;
font-size: 60px;
color: #000;
text-align: center;
}
#catch .sub{
display: block;
margin-bottom: 10px;
font-size: .6em;
}


/*　スペースと見出しの枠*/
.content{
height: 500px;
margin-bottom: 100px;
}
.caption{
text-align: center;
font-size: 30px;
padding-top: 100px;
color: #3E424B;
font-weight:bold;
}

.inner{
width:980px;
margin: 0 auto;
}

/*オススメ*/

.itemlist1{
display:flex;
flex-wrap:wrap;
justify-content: space-between;
}

.itemlist1 li{
flex-basis: 180px;
margin-bottom:20px;
}

.osusume_list{
  cursor : default;
  display: block;

  background-color: #fff;
  height: 100%;
}

.osusume_list dt{
  text-align:center;
  background-color: #eee;
}
.osusume_list dd{
  text-align:center;
  padding-bottom: 5px;
}

.osusume_list dl:hover{
  color: #000;
}

/* access */
.access{
  text-align: center;
}

#sub{
  background-color: white;
  height: 300px;
  border: 1px solid skyblue;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 50px;
}


#salestime{
  width: 325px;
  height: 260px;
  float: left;
}
#sub dd{
  font-family: 'Pragati Narrow', sans-serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
#sub dd+dd{
  padding-bottom: 20px;
}
#sub dt{
  text-align: center;
  font-size: 15px;
  background-color: #eee;
}

#map{
  width: 300px;
  height: 260px;
  float: left;
}

#mochikaeri{
  width: 325px;
  height: 260px;
  float: left;
  margin-left: 25px;
  box-sizing: border-box;
  background-color: white;
}

#dantai{
  margin-top: 41px;
}

/* お知らせ */

#article{
  height: 300px;
  background-color: white;
  text-align: left;
  border: 1px solid skyblue;
  padding-top: 50px;
  background-color: white;
  box-sizing: border-box;
}

#article dt{
padding-left: 10em;
overflow: hidden;
color: gray;
}

#article dd{
 margin-top: -1.5em;
 padding-left: 20em;
 margin-bottom: 10px;
 padding-bottom: 10px;
 font-family: 'Pragati Narrow', sans-serif;
 text-align: left;
}

#article dd a{
  color: black;
  font-size: 15px;
}

#article dd a:hover{
  color: #D3D3D3;
}

/* gallery */
#gallery{
  text-align: center;
  width: 980px;
  box-sizing: border-box;
  margin-top: 100px;
  height: 600px;
}


.imglist{
overflow: hidden;
}

.imglist li{
float: left;
width: 232px;
}

.imglist li+li{
  margin-left: 15px;
}

.imglist1{
  margin-bottom: 200px;
  margin-top: 10px;
}

.imglist1 img,.imglist2 img{
  width: 230px;
  height: 167px;

}

.imglist1 img:hover{
  opacity: 0.5;
    filter: alpha(opacity=50);
}

.imglist2 img:hover{
  opacity: 0.5;
    filter: alpha(opacity=50);
}

/* menu */

dl,dd{
margin: 0;
}

.menu_1{
  margin-top: 10px;
  border: 1px solid skyblue;
  width: 980px;
  color:gray;
  margin-bottom: 10px;
  display: block;
  box-sizing: border-box;
}

.itemlist2{
overflow: hidden;
}

.itemlist2 li{
width: 192px;
background-color: #eee;
float: left;
}

.itemlist2 li+li{
margin-left: 5px;
}

.itemlist2 img:hover{
  opacity: 0.5;
  filter: alpha(opacity=10);
}

.itemlist2 dd:hover{
  color: black;
}

.item strong{
display: block;
background-color: #ccc;
text-align: center;
color: black;
}

.iteminfo p{
margin: auto;
}

.menu_2{
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu_3{
  margin-top: 10px;
  margin-bottom: 50px;
}

.menu h2{
  text-align: center;
}


/* contact */
table{
border: 1px solid skyblue;
margin-bottom: 30px;
border-collapse: separate;
border-spacing: 2px;
}
th{
background-color: #DBEAF0;
padding: 3px;
}
td{
/*border: 1px solid #000;*/
background-color: #eee;
padding: 3px;
}


/* footer */

#gfooter{
padding: 20px;
border-top: 1px solid #eee;
margin-top: 100px;
}
#gfooter small{
line-height: 50px;
}


/* effect */

section.bg1fixed {
	padding-top: 400px;
	background: url(../images/pic01.jpg) center center/cover no-repeat;
	background-attachment: fixed;
}
section.bg2fixed {
	padding-top: 400px;
	background: url(../images/pic02.jpg) center center/cover no-repeat;
	background-attachment: fixed;
}
section.bg3fixed {
	padding-top: 400px;
	background: url(../images/pic03.jpg) center center/cover no-repeat;
	background-attachment: fixed;
}
section.bg4fixed {
	padding-top: 400px;
	background: url(../images/pic04.jpg) center center/cover no-repeat;
	background-attachment: fixed;
}

section.bg5fixed {
	padding-top: 400px;
	background: url(../images/pic05.jpg) center center/cover no-repeat;
	background-attachment: fixed;
}

/* Top Icon */
#totop{
display: block;
width: 50px;
height: 50px;
position: fixed;
right: 20px;
bottom: 20px;
}
